<?xml version="1.0"?>
<TM_SecretData>
  <Rijndael_IV>KrWHmTQuORkIZTWe3wOweQ==</Rijndael_IV>
  <Rijndael_Key>DkZMxuoNEM9VCzcu0R82XFRYKOQvC/68IziGFhF7O8o=</Rijndael_Key>
  <SMTP_Server>smtp.sendgrid.net</SMTP_Server>
  <SMTP_UserName>TeamMentor</SMTP_UserName>
  <Libraries_Git_Repositories />
</TM_SecretData>