<?xml version="1.0"?>
<TM_SecretData>
  <Rijndael_IV>E2dTGZVEbySl8p/61fAVkA==</Rijndael_IV>
  <Rijndael_Key>v2+2yAgMJxrBR/BzZNXASVYHEbv+ScNVc3sxgrfFdVU=</Rijndael_Key>
  <SMTP_Server>smtp.sendgrid.net</SMTP_Server>
  <SMTP_UserName>TeamMentor</SMTP_UserName>
  <Libraries_Git_Repositories>
    <string />
  </Libraries_Git_Repositories>
</TM_SecretData>